@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  /* cursor: none; */
  scroll-behavior: smooth;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-select: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #717ebd;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #525f9e;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 230 30% 21%;
    --border: 240 5.9% 90%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --accent: 183 70% 50%;
    --accent-foreground: 183 100% 20%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
  }

  .dark {
    --background: 230 30% 21%;
    --foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --accent: 183 63% 40%;
    --accent-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
  }

}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


